<%= render 'shared/flash' %>
<h2>新規記事作成</h2>
<h4>new news</h4>

<div id="post_news">
  <%= form_for @each_news do |f| %>

  <%= f.label :title, id: "post_news_label"%>
  <%= f.text_field :title%>

  <%= f.file_field :pdfs, multiple: true %>

  <%= f.submit "投稿", class: "post_news" %>
  <% end %>
</div>
