<div id="livescore-overlay"></div>

<div id="livescore-modal">
  <h2 style="padding-left: 20px;">スコア編集</h2>
  <span style="display: inline-block;width: 260px;margin-top: 30px;"></span>
  <button class="modal-controlButton" id="00down">-</button>
  <button class="modal-controlButton" id="00up">+</button>
  <button class="modal-controlButton" id="01down">-</button>
  <button class="modal-controlButton" id="01up">+</button>
  <button class="modal-controlButton" id="02down">-</button>
  <button class="modal-controlButton" id="02up">+</button>
  <div id="livescore-modal-table"></div>
  <span style="display: inline-block;width: 260px;height: 10px;"></span>
  <button class="modal-controlButton" id="10down">-</button>
  <button class="modal-controlButton" id="10up">+</button>
  <button class="modal-controlButton" id="11down">-</button>
  <button class="modal-controlButton" id="11up">+</button>
  <button class="modal-controlButton" id="12down">-</button>
  <button class="modal-controlButton" id="12up">+</button><br />
  <%= form_tag("/livescore/update", method: :post) do %>
  <%= hidden_field_tag :"match_num" %>
  <%= hidden_field_tag :"00" %>
  <%= hidden_field_tag :"01" %>
  <%= hidden_field_tag :"02" %>
  <%= hidden_field_tag :"10" %>
  <%= hidden_field_tag :"11" %>
  <%= hidden_field_tag :"12" %>
  <%= submit_tag("更新", class: "modal-submitButton") %>
  <% end %>
</div>

<script>
  // スタートボタンの表示
  $(".livescore-td").hover(function(){$(this).find(".livescore-start-button").css({'left':'2px', 'transition':'0.2s all ease 0s'})});
  $(".livescore-td").mouseleave(function(){$(this).find(".livescore-start-button").css({'left':'-100%', 'transition':'0.1s all ease 0s'})});

  // スタートボタンのイベント
  $(".livescore-start-button").click(function(){
    $.ajax({
      url:"./livescore/start",
      type:"POST",
      data:{"id":$(this).parent().children("p")[0].textContent}
    })
  })

  // モーダルの表示
  $(".livescore-td").click(function(event) {
    if ($(this).find(".livescore-match-playing")[0] == undefined) {
      return;
    }
    var target = $(event.currentTarget);
    var score = new Array(2);
    score[0] = new Array(3);
    score[1] = new Array(3);
    for(i=0;i<3;i++){
      score[0][i]=target.get()[0].children[1].children[0].children[0].children[i+1].childNodes[0].data;
      score[1][i]=target.get()[0].children[1].children[0].children[1].children[i+1].childNodes[0].data;
      console.log(score[0][i])
    }
    $("#match_num").val(target.get()[0].children[1].childNodes[0].data)
    display(score, target);
    updownButtonInit(score,target);
    $("#livescore-overlay, #livescore-modal").fadeIn();
  });

  $("#livescore-overlay").click(function() {
    $("#livescore-overlay, #livescore-modal").fadeOut();
  });

  locateCenter();
  $(window).resize(locateCenter)

  // 隠しフィールドの値を設定、modalを表示
  function display(score, target) {
    $("#00").val(score[0][0]);
    $("#01").val(score[0][1]);
    $("#02").val(score[0][2]);
    $("#10").val(score[1][0]);
    $("#11").val(score[1][1]);
    $("#12").val(score[1][2]);
    $("#match_num").val(Number(target.find("p")[0].textContent))
    $("#livescore-modal-table").html("<table class='modal-match'><tr style='height: 50px;'><td class='modal-player'><span class='livescore-player-num'>"+target.get()[0].children[1].children[0].children[0].children[0].children[0].childNodes[0].data+"</span>"+target.get()[0].children[1].children[0].children[0].children[0].children[1].childNodes[0].data+target.get()[0].children[1].children[0].children[0].children[0].children[2].childNodes[0].data+"</td><td class='modal-score'>"+score[0][0]+"</td><td class='modal-score'>"+score[0][1]+"</td><td class='modal-score'>"+score[0][2]+"</td></tr><tr style='height: 50px;'><td class='modal-player'><span class='livescore-player-num'>"+target.get()[0].children[1].children[0].children[1].children[0].children[0].childNodes[0].data+"</span>"+target.get()[0].children[1].children[0].children[1].children[0].children[1].childNodes[0].data+target.get()[0].children[1].children[0].children[1].children[0].children[2].childNodes[0].data+"</td><td class='modal-score'>"+score[1][0]+"</td><td class='modal-score'>"+score[1][1]+"</td><td class='modal-score'>"+score[1][2]+"</td></tr></table>");
  }

  // 点数変更ボタンの動作設定
  function updownButtonInit(score,target) {
    $("#00up").click(function(){score[0][0]++;display(score,target);});
    $("#01up").click(function(){score[0][1]++;display(score,target);});
    $("#02up").click(function(){score[0][2]++;display(score,target);});
    $("#10up").click(function(){score[1][0]++;display(score,target);});
    $("#11up").click(function(){score[1][1]++;display(score,target);});
    $("#12up").click(function(){score[1][2]++;display(score,target);});
    $("#00down").click(function(){score[0][0]--;display(score,target);});
    $("#01down").click(function(){score[0][1]--;display(score,target);});
    $("#02down").click(function(){score[0][2]--;display(score,target);});
    $("#10down").click(function(){score[1][0]--;display(score,target);});
    $("#11down").click(function(){score[1][1]--;display(score,target);});
    $("#12down").click(function(){score[1][2]--;display(score,target);});
  }

  function locateCenter() {
    let w = $(window).width();
    let h = $(window).height();
    let cw = $("#livescore-modal").outerWidth();
    let ch = $("#livescore-modal").outerHeight();

    $("#livescore-modal").css({
      "left": ( (w-cw)/2 )+"px",
      "top": ( 100 )+"px"
    });
  }
</script>
