<h1>Matches#index</h1>
<% @matches.each do |match| %>
<table>
  <tr>
    <th>id</th>
    <th>parend_id</th>
    <th>round</th>
    <th>young</th>
    <th>old</th>
  </tr>
  <tr>
    <td><%= match.id %></td>
    <td><%= match.parent_id%></td>
    <td><%= match.round %></td>
    <td><%= match.young %></td>
    <td><%= match.old %></td>
  </tr>
</table>
<% end %>
