<div class="competent-page">
  <%= render partial: 'colleges/competent_navi' %>

  <div class="competent-main">
    <%= link_to "新規登録", "/colleges/#{@college.id}/competent/club_members/new", class:"competent-club_members-h2Button" %>
    <h2 class="competent-main">選手登録</h2>

    <table class="competent-table">
      <tr>
        <th class="competent-th">
          学年
        </th>
        <th class="competent-th">
          名前
        </th>
        <th></th>
        <th></th>
      </tr>
      <% @club_members.each do |member| %>
      <tr class="competent-td_row">
        <td class="competent-td">
          <%= grade(member.addmission_year).to_s %>
        </td>
        <td class="competent-td">
          <%= member.name %>
        </td>
        <td>
          <%= link_to "Edit", "/colleges/#{@college.id}/competent/club_members/edit", class:"competent-edit" %>
        </td>
        <td>
          <%= link_to "Destroy", "/colleges/#{@college.id}/competent/club_members/destroy", class:"competent-destroy" %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
