<div class="competent-page">
  <%= render partial: 'colleges/competent_navi' %>

  <div class="competent-main">
    <%= link_to "Back", "/colleges/#{@college.id}/competent/club_members", class:"competent-club_members-h2Button" %>
    <h2 class="competent-main">新規登録</h2>

    <%= form_for @club_member, url:"/colleges/#{@college.id}/competent/club_members/create" do |f| %>
    <table>
      <tr>
        <th class="competent-edit">
          名前
        </th>
        <td><%= f.text_field :name, class:"input" %></td>
      </tr>
      <tr>
        <th class="competent-edit">
          入学年度(西暦)
        </th>
        <td><%= f.number_field :addmission_year, class:"input" %></td>
      </tr>
      <tr>
        <th></th>
        <td><%= f.submit "登録",class:"button", style:"margin-top: 20px;" %></td>
      </tr>
    </table>
    <% end %>
  </div>
</div>
