<% courts = courts(@tournament.courts).each_slice(6).to_a %>
<% courts.each do |some_courts| %>
<table>
  <tr>
    <% some_courts.each do |court| %>
    <th>
      <%= court %>
    </th>
    <% end %>
  </tr>
  <tr>
    <% some_courts.each do |court| %>
    <% if (match = @tournament.matches.find_by(turn: 1, court: court)) %>
    <%= render partial: "livescore-match", locals: {match: match} %>
    <% else %>
    <td></td>
    <% end %>
    <% end %>
  </tr>
  <tr>
    <% some_courts.each do |court| %>
    <% if (match = @tournament.matches.find_by(turn: 2, court: court)) %>
    <%= render partial: "livescore-match", locals: {match: match} %>
    <% else %>
    <td></td>
    <% end %>
    <% end %>
  </tr>
  <tr>
    <% some_courts.each do |court| %>
    <% if (match = @tournament.matches.find_by(turn: 3, court: court)) %>
    <%= render partial: "livescore-match", locals: {match: match} %>
    <% else %>
    <td></td>
    <% end %>
    <% end %>
  </tr>
  <tr>
    <% some_courts.each do |court| %>
    <% if (match = @tournament.matches.find_by(turn: 4, court: court)) %>
    <%= render partial: "livescore-match", locals: {match: match} %>
    <td></td>
    <% else %>
    <% end %>
    <% end %>
  </tr>
</table>
<% end %>
