<!DOCTYPE html>
<html>
<head>
  <title>Gakuren</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <div class="container">
      <span>偽</span>
      <%= link_to "関西学生テニス連盟", root_path, id: "logo" %>
      <ol class="menuBar">
        <li><%= link_to "ホーム |", root_path %></li>
        <li><%= link_to "最新情報 |", news_index_path %></li>
        <li><%= link_to "試合結果 |", "#" %></li>
        <li><%= link_to "ライブスコア |", "#" %></li>
        <li><%= link_to "大学紹介 |", colleges_path %></li>
        <li><%= link_to "メンバー ", members_path %></li>
        <% if logged_in_root? %>
        <li><%= link_to("| 管理者ページ", "/admin") %></li>
        <li><%= link_to("| ログアウト", logout_path, method: :delete) %></li>
        <% elsif logged_in_college? %>
        <li><%= link_to("| 大学ページ", competent_path(current_college)) %></li>
        <li><%= link_to("| ログアウト", logout_path, method: :delete) %></li>
        <% else %>
        <li><%= link_to("| ログイン", login_path) %></li>
        <% end %>
      </ol>
    </div>
  </header>
  <%= yield %>
  <footer>
    <div class="container">
      <span>Copyright ⓒ 2018-2019 Atsushi Niihama All right reserved</span>
    </div>
  </footer>
</body>
</html>
